main.exe
engine.exe
test.cpp
test.exe
*.o
*.obj
*.bak
*.tmp
*.pdb
*.ilk
*.exp
*.lib
*.suo
*.user
*.userosscache
*.sln
*.vcxproj
*.filters
.vscode/
build/
.gemini
GEMINI.md
needs.txt
image.png
verify_ponder.py
__pycache__/
stockfish/
Openings-EPD/
config.json
fastchess/
engines/
lichess-bot/